{% extends 'index.html' %}

{% block conteudo %}
<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/static/css/bruno.css' type='text/css' rel='stylesheet'>
  </head>

  <body>
      <header>
        <h3>Bruno Tangerino</h3><br>
        <b>Perfil</b>
          <a href="https://www.linkedin.com/in/bruno-tangerino/">LinkedIn</a><br>
          <b>Perfil</b>
          <a href="https://github.com/gitmonox">GitHub</a>
          <p>Desenvolvedor junior em Delphi.
             Desenvolvedor junior Python com especialidade em desenvolvimento de ChatBots
             e Suporte para servidores e usuários Windows, Firewall, Cloud.</p>
      </header>
  </body>
</html>
{% endblock %}