{% extends 'index.html' %}

{% block conteudo %}
<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/static/css/rolf.css' type='text/css' rel='stylesheet'>
  </head>

  <body>
    <header>
      <h3>Rolf Gutz</h3><br>
      <div class="divrolf"></div>
      <p class="perfil">Perfil</p>
      <a href="https://www.linkedin.com/in/rolf-gutz-a33261160/">LinkedIn</a>
      <p class="perfil">Perfil</p>
      <a href="https://github.com/rolf-gutz">GitHub</a>
      <p class="texto"> Costumo priorizar os meus estudos, a fim de aprofundar ainda mais os meus conhecimentos em SQL e C#,
        ambos conseguidos através da plataforma online Alura e em cursos presenciais como Senac e Faculdade Impacta.
        Tenho o constante foco para me manter na área de desenvolvimento de softwares, e para isso irei me dedicar até
        que eu consiga alcançar meus objetivos. </p>
    </header>
  </body>
</html>
{% endblock %}