{% extends 'index.html' %}

{% block conteudo %}
<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/static/css/rubens.css' type='text/css' rel='stylesheet'>
  </head>

  <body>

      <header>
        <h3>Rubens Gianfaldoni</h3><br>
        <p>Perfil 
          <a href="https://www.linkedin.com/in/rubens-costa-gianfaldoni-de-oliveira-2b2554193/">LinkedIn</a></p>
          <p>Perfil 
            <a href="https://github.com/1rubenito">GitHub</a></p>
        <p>Prestador de serviços na Porto Seguro Seguros na área de Manutenção de Microcomputadores, Dispositivos Móveis e Redes.<br>
        Entusiasta do ‘’Parem de usar i no FOR”<br>
        Apple fanboy<br>
        DEV júnior</p>
        
      </header>
  </body>

</html>
{% endblock %}