{% extends 'index.html' %}

{% block conteudo %}
<!doctype html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/static/css/wesley.css' type='text/css' rel='stylesheet'>
  </head>

  <body>

      <header>
        <h3>Wesley Martins Rodrigues</h3><br>
        <p>Perfil 
          <a href="https://www.linkedin.com/in/wmrodrigues/">LinkedIn</a></p>
          <p>Perfil 
            <a href="https://github.com/HXwesleyXH">GitHub</a></p>
        <p> Analista de infraestrutura e auditor interno de ISO:27001,
          conhecimentos sólidos em gestão de ambientes físicos e Cloud
          com utilização prática de sistemas de monitoramento e metodologias
          DevOps, vivência com gestão de equipes e projetos utilizando praticas
          como BPMN, ITIL, SCRUM e sistema de versionamento GIT, especialista em sistemas
          de virtualização e programador Python por hobby. </p>
        
      </header>
  </body>

</html>
{% endblock %}